<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Welcome</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Donors by First Donation</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address Line 1</th>
                    <th>Address Line 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>First Donation Amount USD</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="donor : ${report}">
                    <td th:text="${donor.firstName}"></td>
                    <td th:text="${donor.lastName}"></td>
                    <td th:text="${donor.address1}"></td>
                    <td th:text="${donor.address2}"></td>
                    <td th:text="${donor.city}"></td>
                    <td th:text="${donor.state}"></td>
                    <td th:text="${donor.zipcode}"></td>
                    <td th:text="${donor.amount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>