<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Entry Details</h1>
          <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>FavoriteColor</th>
                    <th>PhoneNumber</th>
                    <th>DreamJob</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${entry.id}">Id</td>
                    <td th:text="${entry.name}">Name</td>
                    <td th:text="${entry.email}">Email</td>
                    <td th:text="${entry.favoriteColor}">FavoriteColor</td>
                    <td th:text="${entry.phoneNumber}">PhoneNumber</td>
                    <td th:text="${entry.dreamJob}">DreamJob</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>